._navbar{
    position: fixed;
    width: 100%;
    justify-content: center;
}

._navbar .container-fluid {
    justify-content: center !important;
}

._navbar .navbar-nav{
    width: 100%;
}

._navbar .img_logo img {
  width: 70px;
}

._navbar li{
    padding-left: 5%;
}

._navbar li a{
    padding-left: 5%;
    font-weight: bold;
}

._navbar .navbar-collapse{
    justify-content: center!important;
}